# raghad ahmed

**1-Write a Python program to calculate the length of a string using 2 ways

In [6]:
x=input("enter string ")
y=len(x)
print(y)

enter string raghad
6

In [7]:
def cal_len(x):
    y=0
    for i in x:
        y+=1
    return y

print(cal_len("raghd"))

5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [9]:
x=input("enter string ")
if x!="":
    y=x[:2]+x[-2:]
    print(y)
else:
    print("string less than 2 char")

enter string raghad
raad

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [11]:
x=input("enter string")
y=len(x)
if y>=3:
    if x[-3:]=="ing":
        x+="ly"
    else:
        x+="ing"
    print(x)
else:
    print(x)

enter stringabc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [20]:
def long(x):
    len_list=[]
    for i in x:
        len_list.append((len(i),i))
    len_list.sort()
    print(len_list[-1:])
        
         
        
long(["raghad","ahmed","gad"])

[(6, 'raghad')]

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [28]:
def exchangee (X,n):
    y=n +x[1:-1]+ n
    print(y)

exchangee("abca","e")

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [36]:
x=input("enter string")
y=""
for i in range (len(x)):
    if i%2==0:
        y=y+x[i]
print(y)

enter stringabca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [56]:
x=input("enter sentance")
words=x.split()
unique=[]
for i in words:
        if i not in unique:
            unique.append(i)
            count = words.count(i)
            print(count)

enter sentanceamr and ahmed are frindes but amr is the tallest
2
1
1
1
1
1
1
1
1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [40]:
x=input("enter string")
print("word in uppercase",x.upper())
print("word in lowercase",x.lower())

enter stringraghad
word in uppercase RAGHAD
word in lowercase raghad

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [46]:
def rev (x):
    if len(x)%4==0:
        y=x[::-1]
        print(y)
    else:
        print("lenghth isnot multiple of 4")
        
rev("raghad")       
rev("ragh")

lenghth isnot multiple of 4
hgar

**10- Write a Python program to remove a newline in Python

In [61]:
x="raghad,\nahmed"
string_without_new_line=x.replace("\n","")

print(string_without_new_line)

raghad,ahmed

**11-Write a Python program to check whether a string starts with specified characters

In [47]:
x=input("enter string")
y=input("enter specific char")
if x[0]==y:
    print("starts with specific char")
else :
    print("string isnot starts with specific char")

enter stringraghad
enter specific charr
starts with specific char

**12- Write a Python program to add prefix text to all of the lines in a string

In [65]:
x=input("enter string")
y=input("enter prefix")
lines = x.split('\n')

prefixed = [f"{y}{line}" for line in lines]

result = '\n'.join(prefixed)

print(result)

enter stringraghad
enter prefixaaa
aaaraghad

**13-Write a Python program to print the following numbers up to 2 decimal places

In [9]:
x=float(input("enter floating number"))
print("{:.2f}".format(x))

enter floating number3.256358
3.26

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [12]:
x=float(input("enter floating number"))
print("{:+.2f}".format(x))

enter floating number-3.5847962
-3.58

**15-Write a Python program to display a number with a comma separator

In [68]:
x = int(input("Enter number: "))
after = f"{x:,}"
print(after)

Enter number: 12365258213
12,365,258,213

**16-Write a Python program to reverse a string using 2 ways

In [70]:
x=input("enter string: ")
y=x[::-1]
print(y)

enter string: raghad
dahgar

In [73]:
def reverse(x):
    x= "".join(reversed(x))
    return x


print(reverse("raghad"))

dahgar

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

**18-Write a Python program to find the first non-repeating character in a given string

**19-Write a Python program to remove spaces from a given string

In [75]:
x = input("Enter string: ")
y = x.replace(" ", "")
print(y)

Enter string: raghad ahmed gad
raghadahmedgad

**20-Write a Python program to count the number of non-empty substrings of a given string

In [14]:
x=input("enter string")
y=len(x)
print(y*(y+1)/2)

enter stringraghad ahmed
78.0

**21-write a Python program to swap first and last element of any list.

In [82]:
x = [10, 20, "a", 50, "r"]
y = x[-1] + "".join(map(str, x[1:-1])) + str(x[0])
print(y)

r20a5010

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3 Output : [19, 65, 23, 90])

In [18]:
l= [23, 65, 19, 90]
l.insert(0,19)
l.pop(1)
l.insert(2,23)
l.pop(3)
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [20]:
lst=[10,20,30,0,50,60,70]
print(len(lst))

7

In [23]:
lst=[10,20,30,0,50,60,70]
for i in lst:
     y+=1
print(y)

8

**24-write a Python code to find the Maximum number of list of numbers.

In [84]:
lst=[10,20,30,50,40,45]
print(max(lst))

50

**25-write a Python code to find the Minimum number of list of numbers.

In [85]:
lst=[10,20,30,50,40,45]
print(min(lst))

10

**26-search for if an elem is existing in list

In [89]:
x=[10,20,30,50]
element=30
for i in x:
    if i==element:
        print("exist")
        break
    else:
        print("doesont exist")

doesont exist
doesont exist
exist

**27- clear python list using different ways

In [95]:
lst=[10,20,30,50,60,60,70]
lst.clear()
print(lst)

[]

**28-remove duplicated elements from a list

In [92]:
lst=[10,20,30,10,20,50,80,70,10,20]
lst_after=[]
for i in lst:
    if i not in lst_after:
        lst_after.append(i)
print(lst_after)

[10, 20, 30, 50, 80, 70]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [35]:
def convertt(values, keys):
    dict_list = []
    for i in range(0, len(values), 2):
        lst = {keys[0]: values[i], keys[1]: values[i+1]}
        dict_list.append(lst)
    return dict_list

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
print(convertt(test_list, key_list))

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [40]:
def search(string, uni_value):
    count = 0
    for i in string:
        if i == uni_value:
            count += 1
    return count

print(search("raghad", "a"))  # Output: 2

2

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [42]:
def extract(lst, k):
    lst_after = []
    for i in set(lst):
        if lst.count(i) >= k:
            lst_after.append(i)
    return lst_after

print(extract([4, 6, 4, 3, 3, 4, 3, 4, 3, 8], 3))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [43]:
def combination(x): 
    for i in range(3): 
        for j in range(3): 
            for k in range(3): 
                if (i!=j and j!=k and i!=k): 
                    print(x[i], x[j], x[k]) 
                      
combination([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [45]:
def specific_element(lst,element):
    lst_after=[]
    for i in  lst:
        if i!=element:
            lst_after.append(i)
    return lst_after
specific_element([1,1,2,3,4,5,1,2,1],1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [2]:
lst1 = ['Gfg', 'is', 'best']
lst2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
  

y=[lst1[idx] for idx in lst2]
             
print ( str(y))

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [5]:
def xx(test_list, k, n):
    lst_after = []
    for i in test_list:
        count = i.count(k)
        if count == n:
            lst_after.append(i)
    return lst_after

print(xx([(4, 5, 5, 4), (5, 4, 3)],5,2))

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [8]:
def sort(lst):

    result = sorted(lst, key=lambda l: (len(l), l))
    return result

listt = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]


print(sort(listt))

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [11]:
#by keyy

dictt = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sortedd = sorted(dictt.items(), key=lambda x: x[0])
print(sortedd)

sortedd = dict(sortedd)
print(sortedd)

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [12]:
## by balue
dictt = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sortedd = sorted(dictt.items(), key=lambda x: x[1])
print(sortedd)

sortedd = dict(sortedd)
print(sortedd)

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [14]:
dictt = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'} 
K = 6

dict_after = {}
for key in dictt:
    if not (isinstance(dictt[key], int) and dictt[key] > K):
        dict_after[key] = dictt[key]
        


print(dict_after)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [15]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60} 
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [18]:
dictt={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for  i,x in dictt.items():
    print (i,x)

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

In [22]:
dict1=input("enter first dictionary")
dict2=input("enter second dictionary")
dict11=eval(dict1)
dict22=eval(dict2)
dict11.update(dict22)
print(dict11)

enter first dictionary{1:10,2:20,3:30}
enter second dictionary{3:33,4:40,5:56}
{1: 10, 2: 20, 3: 33, 4: 40, 5: 56}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [24]:
dictt={1: 10, 2: 20, 3: 33, 4: 40, 5: 56}
print(max(dictt))
print(min(dictt))

5
1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [31]:
dictt={'c1': 'Red', 'c2': 'Green', 'c3': None}
dictt_after={}
for value,key in dictt.items():
    if value:
        dictt_after[key]=value
        

print(dictt_after)

{'Red': 'c1', 'Green': 'c2', None: 'c3'}

**47-Write a Python program to create a tuple of numbers and print one item

In [34]:
tpl=(1,2,3,5,9,7,8)
print(tpl[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [35]:
tpl=(1,2,3,5)
a,b,c,d=tpl
print(a)
print(b)
print(c)
print(d)

1
2
3
5

**49-Write a Python program to add an item to a tuple

In [36]:
tpl=(1,2,3,5,6,8,52,7,8)
tpl_after=tpl+(100,)
tpl_after

(1, 2, 3, 5, 6, 8, 52, 7, 8, 100)

**50-Write a Python program to convert a tuple to a string

In [37]:
tpl=(1,5,2,5,6,6,52,2,20,4)
print(str(tpl))

(1, 5, 2, 5, 6, 6, 52, 2, 20, 4)

**51-Write a Python program to convert a list to a tuple

In [38]:
lst=[1,2,3,5,2,7,8,6,4]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 5, 2, 7, 8, 6, 4)

**52-Write a Python program to reverse a tuple

In [39]:
tpl=(1,2,3,5,3,9,4,2,)
tpl_after=tpl[::-1]
print(tpl_after)

(2, 4, 9, 3, 5, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [42]:
lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst_after = []

for i in lst:
    lst_after.append((i[0], i[1], 100))

print(lst_after)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [4]:
st="python 3.0 <class 'str'>"

tpl=tuple(st)
print(tpl)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0', ' ', '<', 'c', 'l', 'a', 's', 's', ' ', "'", 's', 't', 'r', "'", '>')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [6]:
tpl=(1,2,3,5,9,52,4,6,5,3,2,8,9)
ave=sum(tpl)/len(tpl)
print(ave)

8.384615384615385

**56-Write a Python program to add member(s) to a set.

In [8]:
s={1,2,5,8,6,3,4}
s.add(100)
print(s)

{1, 2, 3, 4, 5, 6, 100, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [12]:
s={1,2,3,6,8,5,2,3,7,25,7,78,3}
if i==25:
    s.remove(i)
       
print(s)

{1, 2, 3, 5, 6, 7, 8, 78}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [13]:
s1={1,2,3,4,5,6}
s2={5,6,7,8,9}
#union
u=s1|s2
print("union",u)

#intersection
i=s1&s2
print("intersection",i)

#diffrence
print("first intersection",s1-s2)
print("second intersection",s2-s1)

#symmetric
s=s1^s2
print("symmetric",s)

union {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection {5, 6}
first intersection {1, 2, 3, 4}
second intersection {8, 9, 7}
symmetric {1, 2, 3, 4, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [14]:
s={1,2,3,5,3,8,2,1,10}
print("minimum",min(s))
print("maximum",max(s))

minimum 1
maximum 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [15]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target= 10

lst2= []

for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] + lst[j] == target:
            lst2.append((lst[i], lst[j]))

print(lst2)

[(1, 9), (2, 8), (3, 7), (4, 6)]