# Raghad ahmed

# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [7]:
street=input("enter street")
city=input("enter city")
country=input("enter country")
print("first way")
print ("country :" +country +" " +"city:"+city +" "+ "street"+ street)
print("second way")
print (f"you live in {country} and {city} and {street}")

enter streetegypt
enter citygiza
enter countryhadayk ahram
first way
country :hadayk ahram city:giza streetegypt
second way
you live in hadayk ahram and giza and egypt

In [12]:
x="Earth revolves around the sun"
#  01234 6:14     16:21  23:25 27:29
print (x[6:13])
print (x[-3:])

revolve
sun

In [13]:
x=input("enter fruits you eat")
y=input("enter vegatab you eat")

print(f"I eat {y} veggies and {x} fruits daily")

enter fruits you eatmango
enter vegatab you eattomato
I eat tomato veggies and mango fruits daily

In [14]:
s='maine 200 banana khaye'
 # 'maine 10 samosa khaye'
print (s.replace("200 banana","10 samosa"))

maine 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [20]:
x=[2200,2350,2600,2310,2190]
#  jan, feb ,mar,april,may
#1
print("diffrence between jan,feb=",x[1]-x[0])
#2
print ("sum of first quarter=",sum(x[:3]))
#3
print("do you spent 2000",2000 in x)
#4
print("replace april", x[3]+200)

diffrence between jan,feb= 150
sum of first quarter= 7150
do you spent 2000 False
replace april 2510

In [31]:
heros=['spider man','thor','hulk','iron man','captain america']
#1
print(len(heros))
#2
heros.append("black panther")
print(heros)
#3
heros.remove("black panther")
heros.insert(3,"black panther")
print(heros)
#4
heros[1:3] = ['doctor strange']
print(heros)
#5
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [35]:
n = 5
i = 0

while i < n:
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))
    i += 1
i = n - 2
while i >= 0:
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))
    i -= 1

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *